a:link { color: #bc7629; }
a:visited { color: #bc7629; }
a:active { color: #cfba05; }
a:hover { color: #cfba05; }

.ftop a:link {color: #F7F2EC;}
.ftop a:visited {color: #F7F2EC;}

.ftop {
	color: #F7F2EC;
	background-color: #8A6E5C;
}

.ftop hr {
	border-style: dotted;
}

.ftop input {
	border: 1px solid #E4DCC7;
}

.formbg {
	background-color: #644E3E;
}

.formbg font {
	color: #CC9999;
}

.fbtm {
	border: 1px solid #8A6E5C;
	background-color: #8A6E5C;
}

.bgc {
	color: #333333;
	background-color: #F7F2EC;
}

.button {
	color: #8A6E5C;
	border: 1px solid #8A6E5C;
	background-color: #E4DCC7;
}

.icon img {
	cursor: pointer;
	border: 1px solid #555555;
	background-color: #F4F0E5;
}

.inv {
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
}

body {
	color: #333333;
	font-size: 14px;
	line-height: 22px;
	background-color: #F7F2EC;
}

td {
	font-family: Osaka,Verdana;
	font-size: 14px;
	line-height: 22px;
}

img {
	border: 0px;
}

form {
	display: inline;
}
