.buttons button, .buttons input[type=button],  
.buttons input[type=reset], .buttons input[type=submit] {  
    -webkit-box-shadow: inset 0 1px 3px #F1F1F1, inset 0 -15px #DFDFDF, 1px 1px 2px #E7E7E7;  
    -moz-box-shadow: inset 0 1px 3px #F1F1F1, inset 0 -15px #DFDFDF, 1px 1px 2px #E7E7E7;  
}  
.buttons button:hover, .buttons input[type=button]:hover,  
.buttons input[type=reset]:hover, .buttons input[type=submit]:hover {  
    -webkit-box-shadow: inset 0 1px 3px #e1e1e1, inset 0 -15px #cfcfcf, 1px 1px 2px #E7E7E7;  
    -moz-box-shadow: inset 0 1px 3px #e1e1e1, inset 0 -15px #cfcfcf, 1px 1px 2px #E7E7E7;  
}  
.buttons button:active, .buttons input[type=button]:active,  
.buttons input[type=reset]:active, .buttons input[type=submit]:active   {  
    background: #ccc;  
    padding: 6px 20px 4px;  
}  